
.classpath
.DS_Store
*.bin
*.lock
.gradle
.idea
.lein-failures
.nrepl-port
.project
.settings
flickr
build
gradle
target
settings.gradle.bak
origami-seqs.iml
origami-sources.iml
gradlew
gradlew.bat
build.gradle.bak
.lein-repl-history
java.2/HelloCv.java
pom.xml
bin